*.tfvars
terraform/secrets

*.params
terraform/.terraform
terraform/terraform*

*.tfplan

*.terraform.locl.hcl

projects/

*.params

devops-automation/

ansible/vars/

workfile.txt

test.yml
backup/

.idea