infrastructure_iaas_provider:${iaas_provider}
infrastructure_do_token:${do_token}
infrastructure_region:${instance-region}
infrastructure_domain:${instance-domain}
infrastructure_db:${db-name}
infrastructure_ip:${instance-ip}
infrastructure_key:${instance-private-key}